* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 31, 31);
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1em 2em;
}

.logo {
  font-weight: 800;
}
.menu {
  list-style: none;
  display: flex;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1em;
}
.menu a:hover {
  cursor: pointer;
  opacity: 0.8;
}
.container {
  width: 95%;
  margin: 1em auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
}

footer {
  background-color: rgb(32, 30, 30);
  color: #fff;
  font-size: 12px;
}
.inner-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
}
.footer-text {
  width: 40%;
}
.contact{
  margin-right: 3em;
  
}

.contact i{
  margin-right:5px
}
.copyright {
  background-color: rgb(26, 25, 25);
  text-align: center;
  padding: 1em;
}
.icons {
  list-style: none;
}

/* Pager */
.pagination {
  cursor: pointer;
  display: inline-block;
  margin: 1em 0;
  margin-left: 18em;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* overlay */
.movie-card:hover {
  cursor: pointer;
  opacity: 0.9;
}
